#container{
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: row;
}
#container > div {
     width: 80px;
     height: 60%;
     flex-grow: 1;
    background-color: rgb(83, 109, 165);
     transition: all .4s linear;
}
#container > div:nth-child(2) {
    background-color: rgb(226, 55, 36);
    flex-grow: 2;
}
#container > div:hover {
    background-color: rgb(26, 199, 10);
}