#container{
    width: 600px;
    background-color: black;
    margin:0 auto;
}
div{
    background-color: aqua;
    height: 30px;
}
div.test{
    height:30px;
    background-color: brown;
    transition: all .4s linear;
}
div.test:hover{
    height: 50px;
}